.theme-light {
    --bg-primary: #fffff0;
    --bg-secondary: #000;
    --bg-background-lightblue: #cfcfcf;
    --bg-background-button: #b5171c;
    --bg-background-junglegreen: rgb(220, 28, 34);
    --bg-background-darkergreen: #f0f0f0;
}

.theme-dark {
    --bg-background-primary: black;
    --bg-background-junglegreen: #29a04b;
    --bg-background-darkergreen: #22833e;
}
