// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}

main {
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

h4 {
    @apply .text-xl .font-semibold .cursor-pointer .text-junglegreen;
}
